node_modules
jspm_packages
bower_components
*.swp
npm-debug.log
libpeerconnection.log
.sass-cache/
.coverage
.ropeproject
.idea
.DS_Store
.DS_Store?
.project
.nodemon-reboot
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
public/components
public/gen
public/css
public/merkel/build/main.js
public/merkel/build/components
public/merkel/build/services
coverage

# ignore Dockerfile
Dockerfile
